<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCProjectOne:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="ZacharyOne.war">
      <element id="artifact" artifact-name="SpringMVCProjectOne:war exploded" />
    </root>
  </artifact>
</component>